.card
  .form-group 
    h1 Login
    =form_for model, url:login_path do |f|
      =f.text_field :email, class: "form-control mv-20", placeholder: "Email"

      =f.password_field :password, class: "form-control", placeholder: "Password"

      .custom-control.custom-checkbox.mv-20
        =f.check_box :remember_me, class: "custom-control-input", id: "remember-me", name: "remember_me"
        =f.label:remember_me, class:"custom-control-label", for:"remember-me"

      =f.submit "Login", class: "btn button1"
    .mv-20
      span No account?
      ==link_to ' Create new here.', new_user_path
    div 
      ==link_to 'Forgot Password?', reset_password_path