<footer>
    <div class="footer text-center py-3 " style="background-color: #6373B3;">
        <a href="http://seattleconsultingmyanmar.com/en" class="text-light">Seattle Consulting Myanmar Co.,Ltd. All rights reserved. © Copyright</a>
    </div>
</footer>

<style>

.footer {
  margin-top: 20px;
  width: 100%;
}

</style>